html {
  font-size: 14px;
}

body {
  background-color: #EBE7C7;
  font-family: 'Cormorant', serif;
  /* font-family: 'Playfair Display SC', serif */
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #6C6045;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #EBE7C7;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #93825B;
}

.logo-text {
  font-size: 2.142rem;
  margin: 0;
  margin-left: 22px;
}

.nav {
  padding-top: 7px;
}

.nav-item {
  display: inline-block;
  font-size: 1.571rem;
  text-decoration: none;
  color: #93825B;
  margin-left: 3.07rem;
}

.nav-item::after {
  background-color: #93825B;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.hero {
  padding-top: 6rem;
  margin-bottom: 16rem;
}

.hero-container {
  position: relative;
}

.hero-title {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 2.571rem;
  line-height: 2.428rem;
  color: #93825B;
  margin-left: 3.5rem;
  margin-bottom: 4.285rem;
}

.hero-title-big {
  font-size: 5.285rem;
  line-height: 7.071rem;
}

.hero-text {
  position: relative;
}

.hero-description {
  max-width: 41rem;
  font-weight: 500;
  font-size: 1.714rem;
  line-height: 2.071rem;
  border: 1px solid #93825B;
  padding: 4.214rem 5.142rem 5.785rem 1.857rem;
}

.hero-btn {
  position: absolute;
  bottom: -2.285rem;
  left: 3.571rem;
  font-weight: 500;
  font-size: 2.142rem;
  border: none;
  background-color: #C9B27C;
  color: #ffffff;
  padding: 19px 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #E3C374;
}

.hero-video {
  position: relative;
  max-width: 29.142rem;
  min-height: 21.142rem;
  background: url("../img/video-mask.jpg") no-repeat center/cover;
  left: 51%;
  margin-top: -38.5rem;
  border-top: 3.071rem solid #DFDAB0;
  border-bottom: 3.071rem solid #DFDAB0;
  border-left: 6.5rem solid #DFDAB0;
  border-right: 6.5rem solid #DFDAB0;
}

.hero-video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(228, 225, 196, 0.25);
}

.hero-video-play {
  position: absolute;
  top: 35.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.hero-arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -15.215rem;
}

.hero-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 6.214rem;
}

.hero-phone {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.142rem;
  color: #93825B;
  text-decoration: none;
  margin-right: 1.285rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero-phone:hover {
  color: #E3C374;
}

.hero-phone::after {
  background-color: #93825B;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  margin-top: 5px;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.hero-phone:hover::after {
  width: 100%;
}

.social-link {
  margin-left: 3.928rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio {
  padding: 60px 0;
}

.portfolio-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Playfair Display SC', serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #93825B;
}

.portfolio-heading-master {
  margin-left: 3.5rem;
  font-size: 1.714rem;
}

.portfolio-heading-big {
  font-weight: 900;
  font-size: 2.571rem;
  margin-left: 17px;
}

.portfolio-heading-description {
  margin: 0;
  margin-right: 7.142rem;
  font-weight: 900;
  font-size: 2.571rem;
}

.portfolio-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-col {
  margin-top: 43px;
  width: 36%;
}

.portfolio-btn {
  position: absolute;
  bottom: 37px;
  left: 5.5rem;
  font-weight: 500;
  font-size: 2.142rem;
  border: none;
  background-color: #C9B27C;
  color: #ffffff;
  padding: 19px 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-btn:hover {
  background-color: #E3C374;
}

.swiper-slide-text {
  margin: 0;
  max-width: 27.214rem;
  font-weight: 500;
  font-size: 2.571rem;
  line-height: 3.142rem;
  text-align: right;
  border: 1px solid #93825B;
  padding: 72px 20px 72px 20px;
}

.swiper-slide-price {
  margin-top: 26px;
  display: block;
  font-weight: bold;
  font-size: 4.571rem;
  color: #93825B;
  text-align: center;
}

.swiper-button-prev {
  bottom: 0;
  top: 44.5rem;
  background: url("../img/portfolio/arrow-prev.svg") no-repeat center;
  background-size: 26px;
  width: 26px;
  height: 26px;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  bottom: 0;
  top: 44rem;
  background: url("../img/portfolio/arrow-next.svg") no-repeat center;
  background-size: 40px;
  width: 40px;
  height: 40px;
}

.swiper-button-next::after {
  display: none;
}

.stages-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 5.285rem;
  text-align: center;
  color: #93825B;
}

.stages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 41.071rem;
  margin: auto;
}

.stages-image {
  margin-top: 6px;
  padding: 0;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.stages-text {
  margin-top: 45px;
  font-weight: 500;
  font-size: 1.714rem;
  text-align: center;
}

.we-bg {
  background-color: #DFDAB0;
  width: 100%;
  min-height: 27.642rem;
}

.we-title {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 5.285rem;
  text-align: center;
  color: #93825B;
}

.we-foto {
  display: block;
  margin: -17.142rem auto 0;
}

.we-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.571rem 0 2.857rem 0;
  width: 100%;
  border: 1px solid #93825B;
  text-align: center;
  overflow-y: scroll;
}

.we-text {
  margin: 47px 0 47px 0;
  max-width: 70.5rem;
  font-weight: 500;
  font-size: 1.714rem;
  line-height: 2.071rem;
}

.we-arrow {
  display: block;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */